bitsandbytes==0.42.0
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git
datasets==2.16.1
scipy==1.12.0
ipywidgets==8.1.1
matplotlib==3.8.2
einops==0.7.0
pandas
argparse
